.test-edit-view {

    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #B1B1AF;
    background-color: #FFEEEE;

    input[type='text'] {

        display: block;
        width: 100%;
        max-width: 450px;
        border: 1px solid #B1B1AF;
        color: #B1B1AF;
        padding: 5px 10px;
        border-radius: 20px;
    }

    &__test-title {

        margin-bottom: 10px;
        display: flex;
        align-items: center;

        span {

            font-size: 20px;
        }
    }

    &__test-title-field {

        input[type='text']:first-child {

            margin-bottom: 5px;
        }
    }

    &__questions {

        display: flex;
        align-items: center;
        margin-top: 10px;

        span {

            font-size: 16px;
            margin-left: 10px;
        }

        &-add {

            width: 20px;
            height: 20px;
            background-size: 20px;
        }
    }

    &__questions-items {

        margin-top: 10px;
    }

    &__questions-item {

        margin-bottom: 10px;
        display: flex;
        align-items: center;

        &:last-child {

            margin-bottom: 0;
        }
    }

    &__del-test {

        width: 25px;
        height: 25px;
        background-image: url('../../../../../../imgs/trash.svg');
        background-size: 100%;
        background-position: 0 0;
        margin-left: auto;
        cursor: pointer;
    }

    &__del-test-question {

        width: 20px;
        height: 20px;
        background-image: url('../../../../../../imgs/trash.svg');
        background-size: 100%;
        background-position: 0 0;
        margin-left: auto;
        cursor: pointer;
    }

    &__questions-item-wrapper {

        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid #B1B1AF;
        margin-bottom: 10px;

        &:last-child {

            margin-bottom: 0;
        }
    }

    &__answers-title {

        margin-bottom: 10px;
    }

    &__answer {

        margin-bottom: 10px;
        display: flex;
        align-items: center;

        &:last-child {

            margin-bottom: 0;
        }

        input[type='radio'] {

            margin: 0;
            margin-left: 10px;
        }
    }
}