.test-read-view {

    margin-top: 10px;

    ul, li {

        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__title {

        font-size: 22px;
        margin-bottom: 5px;
    }

    &__question {

        margin-bottom: 10px !important;

        &:last-child {

            margin-bottom: 0 !important;
        }

        &_user-is-right {

            .test-read-view__question-title {

                background-color: #9CEDB5;
            }
        }

        &_user-not-right {

            .test-read-view__question-title {

                background-color: #FBBAB5;
            }
        }
    }

    &__question-title {

        font-size: 18px;
        margin-bottom: 5px;
    }

    &__answers {

        padding-left: 20px !important;
    }

    &__answer-wrapper {

        margin-bottom: 5px !important;

        &:last-child {

            margin-bottom: 0 !important;
        }
    }

    &__answer {

        display: flex;
        align-items: center;

        &_is-right {

            .test-read-view__answer-title {

                background-color: #9CEDB5;
            }
        }

        &_is-pick {

            &::after {

                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #000;
                margin-left: 10px;
            }
        }
    }
}